:root {
  /* --md-text-font: "EconomistSerif",ui-serif,Georgia,Times,"Times New Roman", monospace, serif;  */
  --md-text-font: monospace; 
}

.md-ellipsis {
  font-family: monospace;
}

.md-tabs__item {
  font-family: monospace;
}